/* ---------- LOGIN ------------- */
*{
	margin:0;
	padding:0;
}

body{
	background-repeat:no-repeat;
	width:900px;
	margin:auto;
}

.loginDiv {
	float:left;	
	padding-left:50px;
}


.loginFormDiv {
	border:1px solid #aaaaaa;
	border-radius:10px;
	padding:10px;
	padding-bottom:0px;		
	width:300px;
	height:200px;
	margin-left:250px;
	margin-top:300px;
}

.form-label{
	float:left;
	width:100px;
	text-align:right;
	padding-right:5px;
	padding-bottom:7px;
}
.form-input{
	float:left;
	width:150px;
	padding-bottom:7px;
}
.form-clear{
	clear:both;
}
div{
	color:white;
}
button{
	float:right;
}
a{
	color:white;
}
.clearboth{
	clear:both;
}
