
html{
	background-color:black;
	/*background-image:url(../images/Accueil.jpg);*/
}

/* -------------- JEU CONTRA ---------*/

.jeuArea{
	width:900px;
	height:50%;
	background-image:url("../images/background.jpg");
	background-repeat: no-repeat;
	margin:auto;
	position:relative;
}
.fin{
	display:none;
	width:900px;
	height:500px;
	background-image:url("../images/youlose.jpg");
	background-repeat: no-repeat;
	margin:auto;
}
.win{
	display:none;
	width:900px;
	height:500px;
	background-image:url("../images/win.png");
	background-repeat: no-repeat;
	margin:auto;
}

.bonhomme{
	position:absolute;
	background-image: url("../images/bonhomme.png");
	background-repeat: no-repeat;
	width:76px;
	height: 96px;
}

.missile{
	position:absolute;
	background-color:orange;
	border-radius:1000px;
	width:8px;
	height: 8px;
}
.missileEnnemi{
	position:absolute;
	background-color:red;
	border-radius:1000px;
	width:20px;
	height: 20px;
}
p{
	color:white;
}
/* -------------- FENETRE CHAT ---------*/
.fenetreChat{
	margin-top:10px;
	margin-left:33px;
	width:75%;
	height:35%;
	background-color:rgb(245,245,220);
	border-radius:10px;
	opacity: 0.4;
	overflow-y:scroll;

}
.positionInputText{
	margin-top:10px;
	margin-left:33px;
	width:75%;
}
.listeUsers{
	float:right;
	width:100%;
	border:1px solid grey;

	height:36%;
	list-style-type: none;
	border-radius: 20px;
	padding-left:15px;
	padding-top:15px;
	
}
.colonne2{
	float:right;
	width:18%;
}
#disconnect{
	margin-left:80%;
}
.message{
	color:black;
	font-weight: bold;
	font-size: 20px;
}
.messageDesAutres{
	color:blue;
	font-weight: bold;
	font-size: 30px;
}

button{
	margin-top: 8px;
	float:left;

}
footer{
	border-top:1px solid white;
	margin-top:10px;
}
