
html{
	background-color:black;
}

/* -------------- PHANTASY STAR ---------*/
body{
	background-image:url(../images/bgPhantasyStar.png);
	background-repeat: no-repeat;
	margin:auto;
}

p{
	color:white;
}
/*------- Animation ---------- */
.meteor{
	position:absolute;
	background-image: url("../images/meteor.png");*/
	background-repeat: no-repeat;
	/*background-color:yellow;*/
	width:15px;
	height: 14px;
}



/* -------------- FENETRE CHAT ---------*/

.range1{
	height:40%;
}
.range2{
	height:15%;
}
.fenetreChat{
	margin-top:10px;
	margin-left:3%;
	width:70%;
	height:85%;
	background-color:rgb(245,245,220);
	border-radius:10px;
	opacity: 0.4;
	overflow-y:scroll;
	float: left;

}
.users{
	width:20%;
	height:75%;
	
	float:left;
	margin-left:10px;
	margin-top:10px;

}
.inputText{
	float:left;
	margin-left:3%;
	width:70%;
}
#boutonMessage{
	margin-top:3px;
}


ul{
	list-style-type:none;
}

.floatright{
	float:right;
}
.message{
	color:black;
	font-weight: bold;
	font-size: 20px;
}
.messageDesAutres{
	color:rgb(149,33,33);
	font-weight: bold;
	font-size: 25px;
}

button{
	margin-top: 8px;
	float:left;

}
footer{
	color:orange;
	border-top:1px solid orange;
	margin-top:40%;
}
a{
	font-size: 18px;
	color:orange;
}
a:hover{
	color:white;
}
