
html{
	background-color:black;
}

/* -------------- PHANTASY STAR ---------*/
body{
	
}

p{
	color:white;
}
/*------- Animation ---------- */
.background{
	
	background-repeat:no-repeat;
	width:900px;
	margin:auto;
	background-size: cover;
	opacity:0.5;
}



/* -------------- FENETRE CHAT ---------*/

.range1{
	height:40%;
}
.range2{
	height:15%;
}
.fenetreChat{
	margin-top:10px;
	margin-left:3%;
	width:70%;
	height:85%;
	background-color:rgb(245,245,220);
	border-radius:10px;
	opacity: 0.4;
	overflow-y:scroll;
	float: left;

}
.users{
	width:20%;
	height:75%;
	
	float:left;
	margin-left:10px;
	margin-top:10px;

}
.inputText{
	float:left;
	margin-left:3%;
	width:70%;
}
#boutonMessage{
	margin-top:3px;
}


ul{
	list-style-type:none;
}

.floatright{
	float:right;
}
.message{
	color:green;
	font-weight: bold;
	font-size: 15px;
}
.messageDesAutres{
	color:black;
	font-weight: bold;
	font-size: 20px;
}

button{
	margin-top: 8px;
	float:left;

}
footer{
	color:orange;
	border-top:1px solid orange;
	margin-top:40%;
}
a{
	font-size: 18px;
	color:orange;
}
a:hover{
	color:white;
}
